.App {
  text-align: center;
  margin-top: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-flow: column;
}

.Login {
  padding: 15px;

  text-align: center;
  margin-top: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-flow: column;
}

.Signup {
  text-align: center;
  margin-top: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-flow: column;
}
